.control {
	width: rem(40px);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--mantine-radius-md);
	border: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
	transition: background-color 150ms ease;
	background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));

	@mixin hover {
		background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
	 }
 }