.rowSelected {
	background-color: var(--mantine-color-blue-light);
 }

 .TableHeader{
	display: flex;
	flex-direction: row;
	gap: 20;
 }
 .inputName{
	margin-top: 20px;
	width: 230px;
 }
 .avatarName{
	margin-top: 13px;
 }

 .item{
	cursor: pointer;
 }
 .mantine-Autocomplete-input{
	background-color: #c11111;
 }